---
import type { VideoConfigType } from "../../scripts/googleApi";
const { video } = Astro.props as {
  video: VideoConfigType[number];
};
---

<a
  class="flex h-[40rem] w-full flex-col items-center rounded-lg bg-orange p-6 hover:bg-peach"
  href={video.link}
  target="_blank"
>
  <img class="w-full" src={video.img} alt={video.title} />
  <div
    class="mt-2 w-full text-ellipsis font-bold lg:text-xl"
  >
    {`Episode 0${video.index}`}
  </div>
  <div
    class="my-5 h-1/3 w-full text-ellipsis text-center font-header text-lg font-bold lg:text-4xl"
  >
    {`${video.title.slice(0, 80)}..`}
  </div>
  <div
    class="w-full flex-grow overflow-hidden text-sm lg:line-clamp-2"
  >
    {video.description}
  </div>
  <div
    class="mt-2 w-full flex-grow overflow-hidden text-right text-sm text-white lg:line-clamp-2"
  >
    ... see more
  </div>
</a>
