---
const list1 = [
  {
    name: "Common operational steps of Core Review Process",
    link: "https://youtu.be/n5CRJRqkAoc",
    code: "https://github.com/Bitshala/BitcoinCore-PR-Review-Club/blob/main/test-pr.sh",
  },
  {
    name: "Bitcoin Core Codebase Introductory Tour",
    link: "https://www.youtube.com/watch?v=MbinzItqsXI",
  },
];
const list2 = [
  {
    name: "Contributing to Bitcoin Core",
    link: "https://github.com/bitcoin/bitcoin/blob/master/CONTRIBUTING.md",
  },
  {
    name: "Developer Notes",
    link: "https://github.com/bitcoin/bitcoin/blob/master/doc/developer-notes.md",
  },
  {
    name: "Introduction to Bitcoin Core Development",
    link: "https://bitcointechtalk.com/a-gentle-introduction-to-bitcoin-core-development-fdc95eaee6b8",
  },
  {
    name: "Contributing to Bitcoin Core, a personal account",
    link: "https://johnnewbery.com/contributing-to-bitcoin-core-a-personal-account/",
  },
  {
    name: "Onboarding to Bitcoin Core",
    link: "https://medium.com/@amitiu/onboarding-to-bitcoin-core-7c1a83b20365",
  },
  {
    name: "From “Hello World” to Bitcoin Core",
    link: "https://rajarshi149.medium.com/from-hello-world-to-bitcoin-core-dd233ce99f72",
  },
];
---

<div class="my-10 rounded-lg bg-peach p-10">
  <p class="text-sm">pre-requisits</p>
  <h1 class="my-2 text-xl font-bold lg:text-3xl">
    Essential Study Material
  </h1>
  <p class="mt-5 text-sm">basics</p>
  <hr class="mb-8 border-spacing-12 border-dashed" />
  <div>
    {
      list1.map((item) => (
        <>
          <div class="mb-5 mt-10 flex justify-between lg:mr-10">
            <p class="font-black lg:text-xl">{item.name}</p>
            <div class="flex">
              <a
                href={item.link}
                target="_blank"
                class="m-1 rounded-lg border-2 border-dotted hover:bg-orange hover:text-white lg:ml-2 lg:px-5 lg:py-2"
              >
                Watch Video
              </a>
              <a
                href={item.code}
                target="_blank"
                class={`rounded-lg border-2 hover:bg-orange hover:text-white ${
                  item.code ? "inline" : "hidden"
                } m-1 border-dotted lg:px-5 lg:py-2`}
              >
                View Code
              </a>
            </div>
          </div>
          <hr class="border-spacing-12 border-dashed" />
        </>
      ))
    }
  </div>
  <p class="mt-10 py-5 text-sm">furthur-reading</p>
  <hr class="border-spacing-12 border-dashed" />
  <div>
    {
      list2.map((item) => (
        <>
          <div class="mb-5 mt-10 flex justify-between lg:mr-10">
            <p class="font-black lg:text-xl">{item.name}</p>
            <a href={item.link} target="_blank">
              <button class="w-1/5 rounded-lg border-2 border-dotted p-2 hover:bg-orange hover:text-white lg:w-auto lg:px-5 lg:py-2">
                Read Now
              </button>
            </a>
          </div>
          <hr class="border-spacing-12 border-dashed" />
        </>
      ))
    }
  </div>
</div>
