---
import MeetYourTAs from "../cohortPages/MeetYourTAs.astro";
const list = [
  {
    name: "Review Format",
    desc: "We start the review process by checking out the PR and going through the 'Notes and Questions' provided in the topic details.",
  },
  {
    name: "Come Prepared",
    desc: "Prepare your answers before joining the call. Remember, there can be many right answers, and there are no stupid questions.",
  },
  {
    name: "Active Participation",
    desc: "Join the Jitsi room at the scheduled time and actively participate in the conversation during the live call.",
  },
  {
    name: "Final Review Submission",
    desc: "After the review session, submit your final review to the original Bitcoin Core PR thread.",
  },
];
const format = [
  {
    name: "Format",
    desc: "Online virtual club",
  },
  {
    name: "Structure",
    desc: "Bi-weekly, Technical, QnA",
  },
];

import { reviewClubTa } from "../common/list";
---

<div class="mt-10 rounded-lg bg-peach">
  <div class="flex flex-col lg:flex-row">
    <div class="p-3 lg:w-4/5 lg:p-10">
      <p>The Deets</p>
      <h1 class="font-header text-5xl">How does it work</h1>
      <p class="my-8 font-header text-2xl">
        How to participate
      </p>
      <ul class="mt-5">
        <li class="my-3">
          <span class="font-bold">Stay Updated</span> :{" "}
           Keep an eye on this <a
            href="https://github.com/Bitshala/BitcoinCore-PR-Review-Club#bitshala-bitcoin-core-pr-review-club"
            target="_blank"
            class="underline">'README'</a
          > to find weekly updates and information about
          upcoming club meetings.
        </li>
        <li class="my-3">
          <span class="font-bold">Join the Community</span>
           :{" "}
           Join the <a
            href="https://discord.com/invite/STeQFVEWf9"
            target="_blank"
            class="underline">Discord</a
          > server where the link to join the review club
          jitsi is shared and where PR-related discussions
          take place.
        </li>
        <li class="my-3">
          <span class="font-bold"
            >Engage in Discussions</span
          > :{" "}
           Each week's topic details will be included in an
          <a
            href="https://github.com/Bitshala/BitcoinCore-PR-Review-Club/issues"
            target="_blank"
            class="underline">Issue</a
          >
           . Use the issue comments to post questions and
          participate in discussions regarding the PR or the
          review process in general.
        </li>
        {
          list.map((item) => (
            <li class="my-3">
              <span class="font-bold">{item.name}</span> :{" "}
              {item.desc}
            </li>
          ))
        }
      </ul>
    </div>
    <div>
      <div>
        <div class="my-10 grid grid-cols-2 gap-10 p-3">
          {
            format.map((item) => (
              <div>
                <h2 class="font-header text-xl font-bold lg:text-2xl">
                  {item.name}
                </h2>
                <p class="lg:text-lg">{item.desc}</p>
              </div>
            ))
          }
        </div>
      </div>
      <div class="bg-white pt-10 lg:mt-0 lg:px-10">
        <MeetYourTAs team={reviewClubTa} color="bg-peach" />
      </div>
    </div>
  </div>
</div>
