---
const list = [
  {
    logo: "/readingClub/image.png",
    name: "Latest in Bitcoin Tech",
    leadBy: "Faisal",
    desc: "A weekly Optech deep-dive session. Where we explore all the cutting edges of Bitcoin technology with fellow learners.",
  },
  {
    logo: "/readingClub/image.png",
    name: "Hands-On Lightning",
    leadBy: "Aditya",
    desc: "A weekly tutorial-based Lightning dev training program. Ideal to kick start your lightning dev journey.",
  },
  {
    logo: "/readingClub/image.png",
    name: "Bitcoin Reading Club",
    leadBy: "Shreyan",
    desc: "A bi-weekly review club to get into the weeds of Bitcoin Core. Ideal for aspiring Bitcoin Core Devs.",
  },
  {
    logo: "/readingClub/image.png",
    name: "Bitcoin Core Review Club",
    leadBy: "Stratospher",
    desc: "A bi-weekly review club to get into the weeds of Bitcoin Core. Ideal for aspiring Bitcoin Core Devs.",
  },
];
---

<div class="lg:p-8">
  <h1
    class="md:text-6Name of the projectxl my-8 text-3xl font-bold lg:text-6xl"
    id="about_us"
  >
    Explore Our Education Programs
  </h1>
  <p class="text-base md:text-lg lg:text-2xl">
    Got a fresh idea for a technical educational project?
    We’d love to hear it! Below, we showcase initiatives our
    Catalysts are already pursuing—use these as inspiration
    to forge your own path. Share your vision, and let’s
    collaborate to make a real impact.
  </p>

  <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-4">
    {
      list.map((item) => (
        <div class="border-neutral-200 my-5 flex flex-col justify-center rounded-3xl bg-[#f0f0f0] p-5">
          <img
            loading="lazy"
            srcset={item.logo}
            class="rounded-lg"
          />
          <div class=" flex w-full flex-col font-medium lg:p-5">
            <div class="font-header text-3xl font-bold">
              {item.name}
            </div>

            <div class="mt-3 text-xl">
              {" "}
              Hosted By :{" "}
              <span class="font-header">{item.leadBy}</span>
            </div>
            <div class=" mt-4 text-lg ">{item.desc}</div>
          </div>
          <a
            href={item.leadBy}
            target="_blank"
            class="text-m my-5 rounded-lg p-4 text-center outline-dashed hover:bg-orange hover:text-white lg:w-1/2"
          >
            Tell me more
          </a>
        </div>
      ))
    }
  </div>
  <div
    class="flex w-full justify-between gap-5 rounded-xl bg-[#f0f0f0] py-4 pl-5 pr-4"
  >
    <div class="my-auto text-xl lg:text-3xl">
      Got a new idea for an initiative?
    </div>
    <div
      class="rounded-xl bg-peach p-2 text-center lg:p-5 lg:text-xl"
    >
      Apply Now
    </div>
  </div>
</div>
