---
const list = [
  {
    logo: "./footer/logo.png",
    github: "#",
    twitter: "#",
    name: "Silent-Payment Library",
    desc: "A Typescript wallet library implementing all the silent-payment primitives.",
    skills: ["Typescript"],
  },
  {
    logo: "./footer/logo.png",
    github: "#",
    twitter: "#",
    name: "Silent Payment Indexer",
    desc: "A Typescript project to build various mechanisms of fetching the SP indexes.",
    skills: ["Typescript"],
  },
  {
    logo: "./footer/logo.png",
    github: "#",
    twitter: "#",
    name: "Coinseletion",
    desc: "A rust library bringing the Bitcoin Core’s coinselection algorithms to the wallet development world.A crucial missing piece of Bitcoin wallet infrastructure.",
    skills: ["Typescript"],
  },
  {
    logo: "./footer/logo.png",
    github: "#",
    twitter: "#",
    name: "Bitcoin Core Review",
    desc: "An ongoing Review Club to get all the aspiring core devs get startedin the dense jungle of Bitcoin Core.",
    skills: ["Typescript"],
  },
  {
    logo: "./footer/logo.png",
    github: "#",
    twitter: "#",
    name: "Coinswap",
    desc: "Functioning, minimal-viable binaries and libraries to perform a trustless, p2p Maxwell-Belcher Coinswap Protocol",
    skills: ["Typescript"],
  },
];
---

<div class="lg:p-8">
  <h1
    class="my-8 text-3xl font-bold md:text-6xl lg:text-6xl"
    id="about_us"
  >
    Explore Dev Projects
  </h1>
  <p class="text-base md:text-lg lg:text-2xl">
    Here are open-source projects ready for your innovation
    and expertise. Each project offers a unique opportunity
    to contribute to the Bitcoin community's growth and
    development.
  </p>

  <div class="my-10 grid grid-cols-1 gap-3">
    {
      list.map((item) => (
        <div class="border-neutral-200 flex flex-col justify-center rounded-3xl bg-[#f0f0f0]">
          <div class="flex w-full flex-col">
            <div class=" flex w-full items-center justify-between self-center">
              <div class="flex items-center self-center">
                <img
                  loading="lazy"
                  srcset={item.logo}
                  class="scale-[0.4] rounded-full  border-4 border-black lg:scale-[0.6] "
                />
                <div class="font-header text-xl font-bold lg:text-3xl">
                  {item.name}
                </div>
              </div>
              <div class="m-3 flex ">
                <a
                  href={item.github}
                  target="_blank"
                  class="group"
                >
                  <img
                    src="/people/github.png"
                    class="m-1 h-6 rounded bg-peach group-hover:bg-white lg:h-10"
                  />
                </a>
                <a
                  href={item.twitter}
                  target="_blank"
                  class="group"
                >
                  <img
                    src="/people/twitter.png"
                    class="m-1 h-6 rounded bg-peach group-hover:bg-white lg:h-10"
                  />
                </a>
              </div>
            </div>
            <div class="mx-5 -mt-12 flex w-full flex-col p-5 font-medium">
              <div class=" mt-4 text-sm font-thin lg:text-lg ">
                {item.desc}
              </div>
              <div class="mt-3 flex flex-wrap gap-1 lg:gap-3">
                <p class="font-semibold">Language:</p>
                {item.skills.map((skill) => (
                  <p class="rounded-lg bg-[#ffdec7] px-2 py-1 text-sm font-semibold">
                    {skill}
                  </p>
                ))}
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>
