---
const developers = [
  {
    name: "Yuvic",
    desc: "Libbitcoin kernel project, Reviewing Core PRs, Hosting the Bitshala Core Review Club.",
    img: "/apprenticeship/yuvic.webp",
    github: "https://github.com/yuvicc",
    twitter: "https://x.com/hey_yuvicc",
  },
  {
    name: "Probot",
    desc: "Fuzz testing on various software. Bitcoin Core, LDK etc.",
    img: "/apprenticeship/probot.webp",
    github: "https://github.com/Prabhat1308",
    twitter: "https://x.com/pr0b0t1sc00l",
  },
  {
    name: "Vanshul",
    desc: "MultiDescriptor wallet support at BDK.",
    img: "/apprenticeship/vanshul.webp",
    github: "https://github.com/VanshulB",
    twitter: "",
  },
  {
    name: "Chaitika",
    desc: "Building Silent Payment demo app.",
    img: "/apprenticeship/chaitika.webp",
    github: "https://github.com/chaitika",
    twitter: "",
  },
  {
    name: "Dhruvil",
    desc: "Testing and adding new features at Lampo.",
    img: "/apprenticeship/dhruvil.webp",
    github: "https://github.com/dhruvil1514",
    twitter: "",
  },
  {
    name: "Bala",
    desc: "Bitcoin script analysis tool.",
    img: "/apprenticeship/bala.webp",
    github: "https://github.com/jkciw",
    twitter: "https://x.com/balajic86",
  },
  {
    name: "Abhijay",
    desc: "Translation of various docs and adding POS features.",
    img: "/apprenticeship/abhijay.webp",
    github: "",
    twitter: "",
  },
  {
    name: "Sarthak",
    desc: "Taproot and other protocol improvements at Coinswap.",
    img: "/apprenticeship/sarthak.webp",
    github: "",
    twitter: "",
  },
  {
    name: "CodingP110",
    desc: "Adding more database support at BDK.",
    img: "/apprenticeship/codingp110.webp",
    github: "https://github.com/110CodingP",
    twitter: "",
  },
];

const designers = [
  {
    name: "Deeksha",
    desc: "UX patterns and interaction design for TwelveCash and Arora.",
    img: "/apprenticeship/deeksha.webp",
    github: "https://deekshasatapathy.framer.website/",
    twitter: "https://x.com/hey_deeksha",
  },
  {
    name: "Nandini",
    desc: "User study and design improvements at Saving Satoshi.",
    img: "/apprenticeship/nandini.webp",
    github: "",
    twitter: "",
  },
  {
    name: "Veronika",
    desc: "Usability research and interface prototypes for federated ecash.",
    img: "/apprenticeship/v.webp",
    github: "",
    twitter: "",
  },
  {
    name: "paperpsych",
    desc: "Working with the Bitcoin Design Community.",
    img: "/apprenticeship/paper.webp",
    github: "https://github.com/paperpsych",
    twitter: "https://x.com/_paperpsych",
  },
];

const educators = [
  {
    name: "Bala",
    desc: "Facilitating protocol & Optech reading groups; documenting key takeaways.",
    img: "/apprenticeship/bala.webp",
    github: "https://github.com/jkciw",
    twitter: "https://x.com/balajic86",
  },
  {
    name: "Vayras",
    desc: "Hosting Rust Club sessions.",
    img: "/apprenticeship/vayras.webp",
    github: "",
    twitter: "",
  },
  {
    name: "Digant",
    desc: "Leading TradFi & Bitcoin discussions.",
    img: "/apprenticeship/digant.webp",
    github: "",
    twitter: "",
  },
  // {
  //   name: "Shreyan",
  //   desc: "Managing Reading Club activities.",
  //   img: "/apprenticeship/shreyan.webp",
  //   github: "",
  //   twitter: "https://x.com/JoshiShreyan",
  // },
];

const teachingAssistants = [
  {
    name: "BTC Noob",
    desc: "Teaching Assistant for cohorts.",
    img: "/apprenticeship/btcnoob.webp",
    github: "https://github.com/BTCNoob21m",
    twitter: "",
  },
  {
    name: "Dhruvil",
    desc: "Teaching Assistant for cohorts.",
    img: "/apprenticeship/dhruvil.webp",
    github: "https://github.com/dhruvil1514",
    twitter: "",
  },
  {
    name: "CodingP110",
    desc: "Teaching Assistant for cohorts.",
    img: "/apprenticeship/codingp110.webp",
    github: "https://github.com/110CodingP",
    twitter: "",
  },
  {
    name: "Chaitika",
    desc: "Teaching Assistant for cohorts.",
    img: "/apprenticeship/chaitika.webp",
    github: "https://github.com/chaitika",
    twitter: "",
  },
  {
    name: "Anmol",
    desc: "Teaching Assistant for cohorts.",
    img: "/people/anmol.png",
    github: "",
    twitter: "",
  },
  {
    name: "Vayras",
    desc: "Teaching Assistant for cohorts.",
    img: "/people/vayras.png",
    github: "https://github.com/Vayras",
    twitter: "https://x.com/Vayras6799",
  },
  {
    name: "Amol",
    desc: "Teaching Assistant for cohorts.",
    img: "/people/amol.png",
    github: "",
    twitter: "",
  },
  // {
  //   name: "Beulah",
  //   desc: "Teaching Assistant for cohorts.",
  //   img: "/apprenticeship/beulah.webp",
  //   github: "",
  //   twitter: "",
  // },
];

const alumni = [
  {
    name: "Faisal",
    desc: "Non-tech guy, cohort top-performer. Now hosts Latest in Bitcoin Tech and the Mastering Bitcoin clubs.",
    img: "/apprenticeship/faisal.webp",
    github: "",
    twitter: "https://x.com/faisal_qrs",
  },
  {
    name: "Bitaloo",
    desc: "Left Oracle to work full-time on Bitcoin Open Source. Currently building on Stratum V2.",
    img: "/apprenticeship/bitaloo.webp",
    github: "https://github.com/Shourya742",
    twitter: "https://x.com/shourya742",
  },
  {
    name: "Rishabh",
    desc: "Bitcoin privacy advocate fully engaged in developing the Coinswap Protocol.",
    img: "/apprenticeship/rishabh.webp",
    github: "",
    twitter: "http://x.com/rishkwal",
  },
  {
    name: "Harsh Mahajan",
    desc: "Straight from college, via the fellowship, became a backend engineer at Bitgo.",
    img: "/apprenticeship/tremploar.webp",
    github: "https://github.com/007harshmahajan",
    twitter: "https://x.com/007harshmahajan",
  },
  {
    name: "Neo",
    desc: "Skilled writer delving deep into multiple rabbit holes, while slinging serious code at Coinswap.",
    img: "/apprenticeship/neo.webp",
    github: "https://github.com/NeoZ666",
    twitter: "https://x.com/HarshSinyal",
  },
  {
    name: "Claddy",
    desc: "Two-time Summer of Bitcoin alum. Via this fellowship is currently working as full-time Rust developer.",
    img: "/apprenticeship/claddy.webp",
    github: "https://github.com/claddyy",
    twitter: "https://x.com/claddyyy",
  },
  {
    name: "Joshua",
    desc: "Talented African developer, started his fellowship with Silent Payment, and moved into full-time position at the Ark Labs.",
    img: "/apprenticeship/joshua.webp",
    github: "https://github.com/aruokhai",
    twitter: "https://twitter.com/boringprimate",
  },
  {
    name: "Tanveer",
    desc: "Early-career dev working on Bitcoin privacy. Worked on Silent Payments.",
    img: "/testimonial/tanveer.png",
    github: "https://github.com/notTanveer",
    twitter: "https://x.com/tnvvrrr?s=09",
  },
  {
    name: "Whoami",
    desc: "Keeping head down and shipping code at Coinswap and other OSS since day 1.",
    img: "/apprenticeship/whoami.webp",
    github: "https://github.com/KnowWhoami",
    twitter: "",
  },
  {
    name: "Sushant",
    desc: "Designing the frontier of Ecash UX at Sovran Wallet.",
    img: "/apprenticeship/sushant.webp",
    github: "https://www.behance.net/sushantfaujdar",
    twitter: "https://x.com/FaujdarSushant",
  },
  {
    name: "Sanya",
    desc: "Designing for BTCPay Server. Moving Bitcoin adoption forward, one figma file at a time.",
    img: "/apprenticeship/sanya.webp",
    github: "https://github.com/sanya031",
    twitter: "https://x.com/SanyaMalhotraa",
  },
];
---

<div class="lg:p-8">
  <h1
    class="my-8 font-header text-2xl font-bold md:text-3xl lg:text-5xl"
    id="about_us"
  >
    Our Fellows
  </h1>
  <p class="text-base md:text-base lg:text-2xl">
    These are the people shaping the next chapter of
    Bitcoin. Some started as students. Some as indie devs.
    Some as curious believers. Now they’re core builders
    from India.
  </p>

  <p
    class="my-8 font-header text-3xl font-bold text-orange"
  >
    Developers
  </p>
  <div class="grid grid-cols-2 gap-4 lg:grid-cols-5">
    {
      developers.map((apprentice) => (
        <>
          <div class=" my-5 flex flex-col gap-3 rounded-xl">
            <img
              src={apprentice.img}
              class="h-44 w-44 items-center rounded-3xl p-3 lg:h-56 lg:w-56"
            />
            <div class="absolute ml-5 mt-5 flex">
              {apprentice.github && (
                <a
                  href={apprentice.github}
                  target="_blank"
                  class="group"
                >
                  <img
                    src="/apprenticeship/github.png"
                    class="m-1 h-7 rounded-xl bg-peach group-hover:bg-white lg:h-10"
                  />
                </a>
              )}
              {apprentice.twitter && (
                <a
                  href={apprentice.twitter}
                  target="_blank"
                  class="group"
                >
                  <img
                    src="/apprenticeship/twitter.png"
                    class="m-1 h-7 rounded-xl bg-peach group-hover:bg-white lg:h-10"
                  />
                </a>
              )}
            </div>
            <div class="-mt-4 ml-2  p-1 lg:mr-5">
              <div class="flex justify-between">
                <p class="my-3 font-header text-2xl font-medium ">
                  {apprentice.name}
                </p>
              </div>

              <p class="text-base">{apprentice.desc}</p>
            </div>
          </div>
        </>
      ))
    }
  </div>

  <p
    class="my-8 font-header text-3xl font-bold text-orange"
  >
    Designers
  </p>
  <div class="grid grid-cols-2 gap-4 lg:grid-cols-5">
    {
      designers.map((apprentice) => (
        <>
          <div class=" my-5 flex flex-col gap-3 rounded-xl">
            <img
              src={apprentice.img}
              class="h-44 w-44 items-center rounded-3xl p-3 lg:h-56 lg:w-56"
            />
            <div class="absolute ml-5 mt-5 flex">
              {apprentice.github && (
                <a
                  href={apprentice.github}
                  target="_blank"
                  class="group"
                >
                  <img
                    src="/apprenticeship/github.png"
                    class="m-1 h-7 rounded-xl bg-peach group-hover:bg-white lg:h-10"
                  />
                </a>
              )}
              {apprentice.twitter && (
                <a
                  href={apprentice.twitter}
                  target="_blank"
                  class="group"
                >
                  <img
                    src="/apprenticeship/twitter.png"
                    class="m-1 h-7 rounded-xl bg-peach group-hover:bg-white lg:h-10"
                  />
                </a>
              )}
            </div>
            <div class="-mt-4 ml-2  p-1 lg:mr-5">
              <div class="flex justify-between">
                <p class="my-3 font-header text-2xl font-medium ">
                  {apprentice.name}
                </p>
              </div>

              <p class="text-base">{apprentice.desc}</p>
            </div>
          </div>
        </>
      ))
    }
  </div>

  <p
    class="my-8 font-header text-3xl font-bold text-orange"
  >
    Educators
  </p>

  <!-- Club Hosts Section -->
  <p
    class="text-gray-700 mb-6 font-header text-xl font-semibold"
  >
    Club Hosts:
  </p>
  <div class="mb-8 grid grid-cols-2 gap-4 lg:grid-cols-5">
    {
      educators.map((educator) => (
        <div class="my-5 flex flex-col gap-3 rounded-xl">
          <img
            src={educator.img}
            class="h-44 w-44 items-center rounded-3xl p-3 lg:h-56 lg:w-56"
          />
          <div class="absolute ml-5 mt-5 flex">
            {educator.github && (
              <a
                href={educator.github}
                target="_blank"
                class="group"
              >
                <img
                  src="/apprenticeship/github.png"
                  class="m-1 h-7 rounded-xl bg-peach group-hover:bg-white lg:h-10"
                />
              </a>
            )}
            {educator.twitter && (
              <a
                href={educator.twitter}
                target="_blank"
                class="group"
              >
                <img
                  src="/apprenticeship/twitter.png"
                  class="m-1 h-7 rounded-xl bg-peach group-hover:bg-white lg:h-10"
                />
              </a>
            )}
          </div>
          <div class="-mt-4 ml-2 p-1 lg:mr-5">
            <div class="flex justify-between">
              <p class="my-3 font-header text-2xl font-medium">
                {educator.name}
              </p>
            </div>
            <p class="text-gray-600 mb-2 text-sm font-medium">
              {/* Add specific club name here based on educator */}
              {educator.name === "Bala" &&
                "Latest in Bitcoin Tech"}
              {educator.name === "Vayras" && "Rust Club"}
              {educator.name === "Digant" &&
                "TradFi & Bitcoin"}
            </p>
            <p class="text-base">{educator.desc}</p>
          </div>
        </div>
      ))
    }
  </div>

  <!-- Cohort TAs Section -->
  <p
    class="text-gray-700 mb-6 font-header text-xl font-semibold"
  >
    Cohort TAs (Teaching Assistants):
  </p>
  <div class="mb-8 grid grid-cols-2 gap-4 lg:grid-cols-5">
    {
      teachingAssistants.map((ta) => (
        <div class="my-5 flex flex-col gap-3 rounded-xl">
          <img
            src={ta.img}
            class="h-44 w-44 items-center rounded-3xl p-3 lg:h-56 lg:w-56"
          />
          <div class="absolute ml-5 mt-5 flex">
            {ta.github && (
              <a
                href={ta.github}
                target="_blank"
                class="group"
              >
                <img
                  src="/apprenticeship/github.png"
                  class="m-1 h-7 rounded-xl bg-peach group-hover:bg-white lg:h-10"
                />
              </a>
            )}
            {ta.twitter && (
              <a
                href={ta.twitter}
                target="_blank"
                class="group"
              >
                <img
                  src="/apprenticeship/twitter.png"
                  class="m-1 h-7 rounded-xl bg-peach group-hover:bg-white lg:h-10"
                />
              </a>
            )}
          </div>
          <div class="-mt-4 ml-2 p-1 lg:mr-5">
            <div class="flex justify-between">
              <p class="my-3 font-header text-2xl font-medium">
                {ta.name}
              </p>
            </div>
            <p class="text-base">{ta.desc}</p>
          </div>
        </div>
      ))
    }
  </div>

  <p
    class="my-8 font-header text-3xl font-bold text-orange"
  >
    Alumni
  </p>
  <div class="grid grid-cols-2 gap-4 lg:grid-cols-5">
    {
      alumni.map((alumnus) => (
        <>
          <div class=" my-5 flex flex-col gap-3 rounded-xl">
            <img
              src={alumnus.img}
              class="h-44 w-44 items-center rounded-3xl p-3 lg:h-56 lg:w-56"
            />
            <div class="absolute ml-5 mt-5 flex">
              {alumnus.github && (
                <a
                  href={alumnus.github}
                  target="_blank"
                  class="group"
                >
                  <img
                    src="/apprenticeship/github.png"
                    class="m-1 h-7 rounded-xl bg-peach group-hover:bg-white lg:h-10"
                  />
                </a>
              )}
              {alumnus.twitter && (
                <a
                  href={alumnus.twitter}
                  target="_blank"
                  class="group"
                >
                  <img
                    src="/apprenticeship/twitter.png"
                    class="m-1 h-7 rounded-xl bg-peach group-hover:bg-white lg:h-10"
                  />
                </a>
              )}
            </div>
            <div class="-mt-4 ml-2  p-1 lg:mr-5">
              <div class="flex justify-between">
                <p class="my-3 font-header text-2xl font-medium ">
                  {alumnus.name}
                </p>
              </div>

              <p class="text-base">{alumnus.desc}</p>
            </div>
          </div>
        </>
      ))
    }
  </div>
</div>
