---
const developers = [
  {
    name: "Yuvic",
    desc: "Contributing to Bitcoin Core while still in college.",
    img: "/apprenticeship/yuvic.webp",
    github: "https://github.com/yuvicc",
    twitter: "https://x.com/hey_yuvicc",
  },
  {
    name: "Probot",
    desc: "Hosts Bitcoin Core PR review clubs. Quietly shaping the dev scene.",
    img: "/apprenticeship/probot.webp",
    github: "https://github.com/Prabhat1308",
    twitter: "https://x.com/pr0b0t1sc00l",
  },
  {
    name: "Tanveer",
    desc: "Early-career dev working on Bitcoin privacy. Building Silent Payments.",
    img: "/apprenticeship/claddy.webp",
    github: "https://github.com/notTanveer",
    twitter: "https://x.com/tnvvrrr?s=09",
  },
  {
    name: "Whoami",
    desc: "Keeps his head down and ships. One of our quietest, strongest builders.",
    img: "/apprenticeship/whoami.webp",
    github: "https://github.com/KnowWhoami",
    twitter: "",
  },
  {
    name: "Bala",
    desc: "A materials scientist turned Bitcoin researcher. Focused on mining and covenants.",
    img: "/apprenticeship/bala.webp",
    github: "https://github.com/jkciw",
    twitter: "https://x.com/balajic86",
  },
];
const educators = [
  {
    name: "Shreyan",
    desc: "Lawyer turned educator. Started Bitshala Reading Club to spread Bitcoin’s mission and stories.",
    img: "/apprenticeship/Shreyan.webp",
    github: "",
    twitter: "https://x.com/JoshiShreyan",
  },
  {
    name: "Aditya Sharma",
    desc: "Lightning dev hosting weekly hands-on CLN sessions. Teaches by making you build.",
    img: "/apprenticeship/Aditya.webp",
    github: "https://github.com/adi2011",
    twitter: "https://x.com/adityaa2011",
  },
];

const designer = [
  {
    name: "Deeksha",
    desc: "Designs for TwelveCash. Crafting clean Bitcoin UX with sharp pixels.",
    img: "/apprenticeship/deeksha.webp",
    github: "https://deekshasatapathy.framer.website/",
    twitter: "https://x.com/hey_deeksha",
  },
  {
    name: "Sushant",
    desc: "Designing the frontier of Ecash UX at Sovran Wallet.",
    img: "/apprenticeship/sushant.webp",
    github: "https://www.behance.net/sushantfaujdar",
    twitter: "https://x.com/FaujdarSushant",
  },
  {
    name: "Sanya",
    desc: "Designing for BTCPay Server. Moving Bitcoin adoption forward, one figma file at a time.",
    img: "/apprenticeship/sanya.webp",
    github: "https://github.com/sanya031",
    twitter: "https://x.com/SanyaMalhotraa",
  },

  {
    name: "paperpsych",
    desc: "Helping craft Bitcoin design education stuffs with the Bitcoin Design Community.",
    img: "/apprenticeship/paper.webp",
    github: "https://github.com/paperpsych",
    twitter: "https://x.com/_paperpsych",
  },
];

const alumni = [
  {
    name: "Faisal",
    desc: " Non-tech guy, cohort top-performer. Now hosts Latest in Bitcoin Tech and manages our club programs.",
    img: "/apprenticeship/Faisal.webp",
    twitter: "https://x.com/faisal_qrs",
  },
  {
    name: "Bit-aloo",
    desc: "Left Oracle to work full-time on Bitcoin’s privacy and fungibility. Currently building on Stratum V2.",
    img: "/apprenticeship/Bitaloo.webp",
    github: "https://github.com/Shourya742",
    twitter: "https://x.com/shourya742",
  },
  {
    name: "Rishab",
    desc: "BitcBitcoin researcher by day, obsessed privacy explorer by night.",
    img: "/apprenticeship/rishab.webp",
    twitter: "http://x.com/rishkwal",
  },

  {
    name: "Harsh Mahajan",
    desc: "Fresh out of college, but already deep in Bitcoin.",
    img: "/apprenticeship/tremploar.webp",
    github: "https://github.com/007harshmahajan",
    twitter: "https://x.com/007harshmahajan",
  },
  {
    name: "Neo",
    desc: "Lead dev at rust-coinselection. Bridges Bitcoin code, culture, and philosophy.",
    img: "/apprenticeship/neo.png",
    github: "https://github.com/NeoZ666",
    twitter: "https://x.com/HarshSinyal",
  },

  {
    name: "Claddy",
    desc: "Two-time Summer of Bitcoin alum. Valuable contributor to Coinswap.",
    img: "/apprenticeship/claddy.webp",
    github: "https://github.com/claddyy",
    twitter: "https://x.com/claddyyy",
  },
  {
    name: "Joshua",
    desc: "Making Bitcoin donations more private. Contributing to Silent Payments from Africa.",
    img: "/apprenticeship/joshua.webp",
    github: "https://github.com/aruokhai",
    twitter: "https://twitter.com/boringprimate",
  },
];
---

<div class="lg:p-8">
  <h1
    class="my-8 font-header text-2xl font-bold md:text-3xl lg:text-5xl"
    id="about_us"
  >
    Our Fellows
  </h1>
  <p class="text-base md:text-base lg:text-2xl">
    These are the people shaping the next chapter of
    Bitcoin. Some started as students. Some as indie devs.
    Some as curious believers. Now they’re core builders
    from India.
  </p>

  <p
    class="my-8 font-header text-3xl font-bold text-orange"
  >
    Developers
  </p>
  <div class="grid grid-cols-2 gap-4 lg:grid-cols-4">
    {
      developers.map((apprentice) => (
        <>
          <div class=" my-5 flex flex-col gap-3 rounded-xl">
            <img
              src={apprentice.img}
              class="h-44 w-44 items-center rounded-3xl p-3 lg:h-56 lg:w-56"
            />
            <div class="absolute ml-5 mt-5 flex">
              {apprentice.github && (
                <a
                  href={apprentice.github}
                  target="_blank"
                  class="group"
                >
                  <img
                    src="/apprenticeship/github.png"
                    class="m-1 h-7 rounded-xl bg-peach group-hover:bg-white lg:h-10"
                  />
                </a>
              )}
              {apprentice.twitter && (
                <a
                  href={apprentice.twitter}
                  target="_blank"
                  class="group"
                >
                  <img
                    src="/apprenticeship/twitter.png"
                    class="m-1 h-7 rounded bg-peach group-hover:bg-white lg:h-10"
                  />
                </a>
              )}
            </div>
            <div class="-mt-4 ml-2  p-1 lg:mr-5">
              <div class="flex justify-between">
                <p class="my-3 font-header text-2xl font-medium ">
                  {apprentice.name}
                </p>
              </div>

              <p class="text-base">{apprentice.desc}</p>
            </div>
          </div>
        </>
      ))
    }
  </div>

  <p
    class="my-8 font-header text-3xl font-bold text-orange"
  >
    Designers
  </p>
  <div class="grid grid-cols-2 gap-4 lg:grid-cols-4">
    {
      designer.map((apprentice) => (
        <>
          <div class=" my-5 flex flex-col gap-3 rounded-xl">
            <img
              src={apprentice.img}
              class="h-44 w-44 items-center rounded-3xl p-3 lg:h-56 lg:w-56"
            />
            <div class="absolute ml-5 mt-5 flex">
              {apprentice.github && (
                <a
                  href={apprentice.github}
                  target="_blank"
                  class="group"
                >
                  <img
                    src="/apprenticeship/github.png"
                    class="m-1 h-7 rounded-xl bg-peach group-hover:bg-white lg:h-10"
                  />
                </a>
              )}
              {apprentice.twitter && (
                <a
                  href={apprentice.twitter}
                  target="_blank"
                  class="group"
                >
                  <img
                    src="/apprenticeship/twitter.png"
                    class="m-1 h-7 rounded bg-peach group-hover:bg-white lg:h-10"
                  />
                </a>
              )}
            </div>
            <div class="-mt-4 ml-2  p-1 lg:mr-5">
              <div class="flex justify-between">
                <p class="my-3 font-header text-2xl font-medium ">
                  {apprentice.name}
                </p>
              </div>

              <p class="text-base">{apprentice.desc}</p>
            </div>
          </div>
        </>
      ))
    }
  </div>

  <p
    class="my-8 font-header text-3xl font-bold text-orange"
  >
    Educators
  </p>
  <div class="grid grid-cols-2 gap-4 lg:grid-cols-4">
    {
      educators.map((educator) => (
        <>
          <div class=" my-5 flex flex-col gap-3 rounded-xl">
            <img
              src={educator.img}
              class="h-44 w-44 items-center rounded-3xl p-3 lg:h-56 lg:w-56"
            />
            <div class="absolute ml-5 mt-5 flex">
              {educator.github && (
                <a
                  href={educator.github}
                  target="_blank"
                  class="group"
                >
                  <img
                    src="/apprenticeship/github.png"
                    class="m-1 h-7 rounded bg-peach group-hover:bg-white lg:h-10"
                  />
                </a>
              )}
              {educator.twitter && (
                <a
                  href={educator.twitter}
                  target="_blank"
                  class="group"
                >
                  <img
                    src="/apprenticeship/twitter.png"
                    class="m-1 h-7 rounded bg-peach group-hover:bg-white lg:h-10"
                  />
                </a>
              )}
            </div>
            <div class="-mt-4 ml-2  p-1 lg:mr-5">
              <div class="flex justify-between">
                <p class="my-3 font-header text-2xl font-medium ">
                  {educator.name}
                </p>
              </div>

              <p class="text-base">{educator.desc}</p>
            </div>
          </div>
        </>
      ))
    }
  </div>

  <p
    class="my-8 font-header text-3xl font-bold text-orange"
  >
    Alumni
  </p>
  <div class="grid grid-cols-2 gap-4 lg:grid-cols-4">
    {
      alumni.map((alumnus) => (
        <>
          <div class=" my-5 flex flex-col gap-3 rounded-xl">
            <img
              src={alumnus.img}
              class="h-44 w-44 items-center rounded-3xl p-3 lg:h-56 lg:w-56"
            />
            <div class="absolute ml-5 mt-5 flex">
              {alumnus.github && (
                <a
                  href={alumnus.github}
                  target="_blank"
                  class="group"
                >
                  <img
                    src="/apprenticeship/github.png"
                    class="m-1 h-7 rounded bg-peach group-hover:bg-white lg:h-10"
                  />
                </a>
              )}
              {alumnus.twitter && (
                <a
                  href={alumnus.twitter}
                  target="_blank"
                  class="group"
                >
                  <img
                    src="/apprenticeship/twitter.png"
                    class="m-1 h-7 rounded bg-peach group-hover:bg-white lg:h-10"
                  />
                </a>
              )}
            </div>
            <div class="-mt-4 ml-2  p-1 lg:mr-5">
              <div class="flex justify-between">
                <p class="my-3 font-header text-2xl font-medium ">
                  {alumnus.name}
                </p>
              </div>

              <p class="text-base">{alumnus.desc}</p>
            </div>
          </div>
        </>
      ))
    }
  </div>
</div>
