---
const developers = [
  {
    name: "Yuvic",
    desc: "Balancing late-night coding with cramming for finals, because contributing to Bitcoin Core is more exciting than college exams.",
    img: "/apprenticeship/yuvic.webp",
    github: "https://github.com/i-am-yuvi",
    twitter: "https://x.com/hey_yuvitwt",
  },
  {
    name: "Probot",
    desc: "Introverted enough to avoid eye contact but bold enough to host Bitcoin Core PR review clubs — because socializing is easier when it's about Bitcoin.",
    img: "/apprenticeship/probot.webp",
    github: "https://github.com/Prabhat1308",
    twitter: "https://x.com/pr0b0t1sc00l",
  },
  {
    name: "Rishab",
    desc: "Bitcoin researcher by day, cypherpunk by night—because who needs hobbies when you have Bitcoin?",
    img: "/apprenticeship/rishab.webp",
    github: "https://github.com/rishkwal",
    twitter: "",
  },
  {
    name: "Tremploar",
    desc: "Still in college, but already knows Bitcoin FOSS will pay off long before that diploma does.",
    img: "/apprenticeship/tremploar.webp",
    github: "https://github.com/007harshmahajan",
    twitter: "https://x.com/007harshmahajan",
  },
  {
    name: "Claddy",
    desc: "Two-time Summer of Bitcoin alumni, finding his way through the jungle of Open Source. Has become a valuable contributor to Coinswap.",
    img: "/apprenticeship/claddy.webp",
    github: "https://github.com/claddyy",
    twitter: "https://x.com/claddyyy",
  },
  {
    name: "Whoami",
    desc: "The silent backbencher known for putting his head down and just build. Seeing this we immediately offered him a fellowship.",
    img: "/apprenticeship/whoami.webp",
    github: "https://github.com/KnowWhoami",
    twitter: "",
  },
  {
    name: "Joshua",
    desc: "From the land of the lion king, Joshua is contributing to making Bitcoin donations more private with the magic of Silent Payment.",
    img: "/apprenticeship/joshua.webp",
    github: "https://github.com/aruokhai",
    twitter: "",
  },
  {
    name: "Rajat",
    desc: "They say there is no right way to start in Bitcoin. Being a Civil Engg didn’t stop this little guy from spinning big code.",
    img: "/apprenticeship/rajat.webp",
    github: "https://github.com/wthrajat",
    twitter: "https://x.com/wthrajat",
  },
  {
    name: "Bala",
    desc: "A material scientist doing Bitcoin Research in his free time. Whether it’s decentralized mining or the depths of covenant proposals. Bala is our in-house expert. ",
    img: "/apprenticeship/bala.webp",
    github: "https://github.com/jkciw",
    twitter: "https://x.com/balajic86",
  },
];
const educators = [
  {
    name: "Shreyan",
    desc: "A lawyer by profession who just can't stop talking about Bitcoin. So he turned his madness into a sats stacking mechanism via Bitshala Fellowship and started the first Bitshala Reading Club. The modern-time Bitcoin story reader with a captive audience.",
    img: "/apprenticeship/Shreyan.webp",
    github: "",
    twitter: "https://x.com/JoshiShreyan",
  },
  {
    name: "Aditya",
    desc: "The lightning developer who got sad because he didn’t have any lightning friends, and decided to take matters into his own hands. He hosts the Hands-on Lightning session every Tuesday where he won’t let you sleep until you make a CLN plugin from scratch.",
    img: "/apprenticeship/Aditya.webp",
    github: "https://github.com/adi2011",
    twitter: "https://x.com/adityaa2011",
  },
];

const alumni = [
  {
    name: "Faisal",
    desc: " The dude that came out of nowhere and busted the myth of “you need to be technical to do Bitcoin”. A veteran of all four Bitshala Study Cohorts as a Top Performer. Currently the host at Bitcoin Optech Study Club, Program Manager, and TA at Bitshala.",
    img: "/apprenticeship/Faisal.webp",
    github: "https://x.com/faisal_qrs",
    twitter: "https://x.com/faisal_qrs",
  },
  {
    name: "Bit-aloo",
    desc: "A young dev bored within the old mammoths of Oracle, decided to take Bitcoin’s fungibility problem seriously and moving the proverbial mountains of the complex protocols from mining to atomic swaps.",
    img: "/apprenticeship/Bitaloo.webp",
    github: "https://github.com/Shourya742",
    twitter: "https://x.com/shourya742",
  },
];
---

<div class="lg:p-8">
  <h1
    class="my-8 font-header text-2xl font-bold md:text-3xl lg:text-5xl"
    id="about_us"
  >
    Our Fellows
  </h1>
  <p class="text-base md:text-base lg:text-2xl">
    Here are our driven individuals who are shaping the
    future of Bitcoin through innovation and education.
  </p>

  <p
    class="my-8 font-header text-3xl font-bold text-orange"
  >
    Developers
  </p>
  <div class="grid grid-cols-2 gap-4 lg:grid-cols-4">
    {
      developers.map((apprentice) => (
        <>
          <div class=" my-5 flex flex-col gap-3 rounded-xl">
            <img
              src={apprentice.img}
              class="h-44 w-44 items-center rounded-3xl p-3 lg:h-56 lg:w-56"
            />
            <div class="absolute ml-5 mt-5 flex">
              {apprentice.github && (
                <a
                  href={apprentice.github}
                  target="_blank"
                  class="group"
                >
                  <img
                    src="/apprenticeship/github.png"
                    class="m-1 h-7 rounded-xl bg-peach group-hover:bg-white lg:h-10"
                  />
                </a>
              )}
              {apprentice.twitter && (
                <a
                  href={apprentice.twitter}
                  target="_blank"
                  class="group"
                >
                  <img
                    src="/apprenticeship/twitter.png"
                    class="m-1 h-7 rounded bg-peach group-hover:bg-white lg:h-10"
                  />
                </a>
              )}
            </div>
            <div class="-mt-4 ml-2  p-1 lg:mr-5">
              <div class="flex justify-between">
                <p class="my-3 font-header text-2xl font-medium ">
                  {apprentice.name}
                </p>
              </div>

              <p class="text-base">{apprentice.desc}</p>
            </div>
          </div>
        </>
      ))
    }
  </div>

  <p
    class="my-8 font-header text-3xl font-bold text-orange"
  >
    Educators
  </p>
  <div class="grid grid-cols-2 gap-4 lg:grid-cols-4">
    {
      educators.map((educator) => (
        <>
          <div class=" my-5 flex flex-col gap-3 rounded-xl">
            <img
              src={educator.img}
              class="h-44 w-44 items-center rounded-3xl p-3 lg:h-56 lg:w-56"
            />
            <div class="absolute ml-5 mt-5 flex">
              {educator.github && (
                <a
                  href={educator.github}
                  target="_blank"
                  class="group"
                >
                  <img
                    src="/apprenticeship/github.png"
                    class="m-1 h-7 rounded bg-peach group-hover:bg-white lg:h-10"
                  />
                </a>
              )}
              {educator.twitter && (
                <a
                  href={educator.twitter}
                  target="_blank"
                  class="group"
                >
                  <img
                    src="/apprenticeship/twitter.png"
                    class="m-1 h-7 rounded bg-peach group-hover:bg-white lg:h-10"
                  />
                </a>
              )}
            </div>
            <div class="-mt-4 ml-2  p-1 lg:mr-5">
              <div class="flex justify-between">
                <p class="my-3 font-header text-2xl font-medium ">
                  {educator.name}
                </p>
              </div>

              <p class="text-base">{educator.desc}</p>
            </div>
          </div>
        </>
      ))
    }
  </div>

  <p
    class="my-8 font-header text-3xl font-bold text-orange"
  >
    Alumni
  </p>
  <div class="grid grid-cols-2 gap-4 lg:grid-cols-4">
    {
      alumni.map((alumnus) => (
        <>
          <div class=" my-5 flex flex-col gap-3 rounded-xl">
            <img
              src={alumnus.img}
              class="h-44 w-44 items-center rounded-3xl p-3 lg:h-56 lg:w-56"
            />
            <div class="absolute ml-5 mt-5 flex">
              {alumnus.github && (
                <a
                  href={alumnus.github}
                  target="_blank"
                  class="group"
                >
                  <img
                    src="/apprenticeship/github.png"
                    class="m-1 h-7 rounded bg-peach group-hover:bg-white lg:h-10"
                  />
                </a>
              )}
              {alumnus.twitter && (
                <a
                  href={alumnus.twitter}
                  target="_blank"
                  class="group"
                >
                  <img
                    src="/apprenticeship/twitter.png"
                    class="m-1 h-7 rounded bg-peach group-hover:bg-white lg:h-10"
                  />
                </a>
              )}
            </div>
            <div class="-mt-4 ml-2  p-1 lg:mr-5">
              <div class="flex justify-between">
                <p class="my-3 font-header text-2xl font-medium ">
                  {alumnus.name}
                </p>
              </div>

              <p class="text-base">{alumnus.desc}</p>
            </div>
          </div>
        </>
      ))
    }
  </div>
</div>
