---
const list = [
  {
    logo: "/bitspace/blrBitdev.webp",
    name: "BITDEVS : Privacy Landscape",
    date: "Saturday, 27 July",
    link: "https://lu.ma/gwc4ytt6",
    isHappening: true,
    desc: "Join us for an evening dedicated to exploring the privacy landscape of Bitcoin, with a special focus on joins, swaps, and layers. And, hang out with Bitshala folks and other Bitcoiners!",
  },
  {
    logo: "/bitspace/bitcoinNode.webp",
    name: "Run Your Hardened Bitcoin Node",
    date: "Saturday, 20 July",
    link: "https://x.com/bitshala/status/1814960224924508318",
    isHappening: false,
    desc: "​Join us for a fun, hands-on privacy workshop where you'll learn how to set up and run your own hardened Bitcoin node. Perfect for those who love diving into deep tech stuffs.",
  },
  {
    logo: "/bitspace/nostr.webp",
    name: "Exploring NOSTR",
    date: "Saturday, 6 July",
    link: "https://lu.ma/7nth3uqi",
    isHappening: false,
    desc: "Nostr is an unstoppable open source social network, not owned by any corporation or government. Curious? Join us and learn about how it empowers you to communicate without censorship.",
  },
  {
    logo: "/bitspace/memebook.webp",
    name: "Bitspace Maker Saturday",
    date: "Saturday, 29 June",
    link: "https://x.com/bitshala/status/1807422787130212454",
    isHappening: false,
    desc: "We're hand-making Bitspace's first Bitcoin artifact - 'The Book of Bitcoin Memes'! Join us for a fun session where we'll hunt down the best Bitcoin memes and put together a funny memebook.",
  },
  {
    logo: "/bitspace/bengaluruBitdev.webp",
    name: "BITDEVS: Seed Signer Workshop",
    date: "Saturday, 22 June",
    link: "https://x.com/bitshala/status/1804924567590195378",
    isHappening: false,
    desc: "Join us for an evening dedicated to Bitcoin self-custody with a special focus on the Seed Signer. Plus, we have an exciting announcement about Bitshala's journey and future!",
  },
];
---

<div class="lg:p-8">
  <h1
    class="my-8 font-header text-3xl font-bold md:text-6xl lg:text-6xl"
    id="about_us"
  >
    Previous Events
  </h1>
  <p class="text-base md:text-base lg:text-2xl">
    Check out some of the exciting events we've hosted in
    the past...
  </p>

  <div class="grid grid-cols-1">
    {
      list.map((item) => (
        <div>
          <div class=" my-5 flex flex-col gap-3 rounded-xl bg-[#f0f0f0] p-2 lg:flex-row">
            <img
              src={item.logo}
              class="w-96 items-center rounded-3xl border-8 border-orange lg:max-h-64  "
            />
            <div class=" lg:mx-5 lg:mt-2">
              <div class="flex justify-between">
                <p class="font-header text-xl font-bold  lg:text-4xl">
                  {item.name}
                </p>

                <div class="flex">
                  <a
                    href={item.link}
                    target="_blank"
                    class="   rounded-lg bg-white p-2 text-center hover:bg-orange hover:text-white "
                    style="display: flex; align-items: center;"
                  >
                    Tell me more!
                  </a>
                </div>
              </div>
              <p class="mx-1 font-header text-sm font-bold lg:text-xl">
                {item.date}
              </p>

              <p class="text-sm lg:my-8 lg:text-xl">
                {item.desc}
              </p>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>
