---
const list = [
  {
    logo: "/bitspace/bengaluruBitdev.webp",
    name: "BITDEVS June - Seed Signer Workshop Special",
    date: "22 June 2024",
    discord:
      "https://discord.com/events/1104831812720656540/1247922484230230138",
    desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non tortor vitae enim pharetra venenatis a eget eros. Sed fringilla arcu elementum lacus auctor, nec.",
  },
  {
    logo: "/apprenticeship/lightning.png",
    name: "Hands-On Lightning Workshop",
    date: "27 June 2024",
    discord:
      "https://discord.com/events/1104831812720656540/1247922484230230138",
    desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non tortor vitae enim pharetra venenatis a eget eros. Sed fringilla arcu elementum lacus auctor, nec.",
  },
  {
    logo: "/bitspace/bitdev.webp",
    name: "Understanding Privacy Tech and Silent Payments",
    date: "27 June 2024",
    discord:
      "https://discord.com/events/1104831812720656540/1247922484230230138",
    desc: "A bi-weekly review club to get into the weeds of Bitcoin Core. Ideal for aspiring Bitcoin Core Devs.",
  },
  {
    logo: "/apprenticeship/reviewClub.webp",
    name: "Bitcoin Core Review Club: Session XX",
    date: "27 June 2024",
    discord:
      "https://discord.com/events/1104831812720656540/1247922484230230138",
    desc: "A bi-weekly review club to get into the weeds of Bitcoin Core. Ideal for aspiring Bitcoin Core Devs.",
  },
];
---

<div class="lg:p-8">
  <h1
    class="my-8 font-header text-3xl md:text-6xl lg:text-6xl"
    id="about_us"
  >
    Upcoming Events at Bitspace
  </h1>
  <p class="text-base md:text-lg lg:text-2xl">
    Stay updated with our latest events, workshops, and
    meetups designed to enhance your Bitcoin knowledge and
    network with fellow enthusiasts.
  </p>

  <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-4">
    {
      list.map((item) => (
        <div class="border-neutral-200 my-5 flex flex-col justify-center rounded-3xl bg-[#eaeaea] p-5">
          <img
            loading="lazy"
            srcset={item.logo}
            class="rounded-2xl"
          />
          <div class=" flex w-full flex-col font-medium lg:p-5">
            <div class="font-header text-3xl font-bold">
              {item.name}
            </div>

            <div class="mt-3 text-xl">
              {" "}
              Date :{" "}
              <span class="font-header">{item.date}</span>
            </div>
            <div class=" mt-4 text-lg ">{item.desc}</div>
          </div>
          <a
            href={item.discord}
            target="_blank"
            class="text-m my-5 rounded-lg p-4 text-center outline-dashed hover:bg-orange hover:text-white lg:w-1/2"
          >
            Tell me more
          </a>
        </div>
      ))
    }
  </div>
  <div
    class="flex w-full justify-between gap-5 rounded-xl bg-[#f0f0f0] py-4 pl-5 pr-4"
  >
    <div class="my-auto text-xl lg:text-3xl">
      Want to receive calendar invites for events
      automatically?
    </div>
    <a href="#apply">
      <div
        class="rounded-xl bg-peach p-2 text-center lg:p-5 lg:text-xl"
      >
        Yes, that’ll be great!
      </div>
    </a>
  </div>
</div>
