---
import Layout from "../../layouts/Layout.astro";
import Carousel from "../../components/common/Carousel";
import CohortStructure from "../../components/cohortPages/bpd/CohortStructure.astro";
import CohortDetails from "../../components/cohortPages/common/CohortDetails.astro";
import Syllabus from "../../components/cohortPages/Syllabus.astro";
import CohortHeader from "../../components/cohort/CohortHeader.astro";
import Application from "../../components/common/Application";
import About from "../../components/cohortPages/bpd/About.astro";
import MeetYourTAs from "../../components/cohortPages/common/MeetYourTAs.astro";
import CohortGraduates from "../../components/cohortPages/CohortGraduates.astro";
const headerProps = {
  removeHeader: true,
};
const role = "bpd_cohort";
const cohortName = "Bitcoin Protocol Development";
const isVisible = false;
---

<Layout
  title="Bitcoin Protocol Development"
  headerProps={headerProps}
  isVisible={isVisible}
>
  <CohortHeader img="/cohort/bpd.webp" />

  <About />
  <CohortDetails
    format={[
      {
        name: "Commencement date",
        desc: "23rd Jan 2025",
      },
      {
        name: "Registration deadline",
        desc: "22nd Jan 2025",
      },
      {
        name: "Duration",
        desc: "7 Weeks",
      },
      {
        name: "Cohort level",
        desc: "Advanced (Theory)",
      },
      {
        name: "Mode",
        desc: "Online virtual classroom",
      },
      {
        name: "Format",
        desc: "Self-study, weekly live sessions, group discussions, and QnA",
      },
    ]}
  />
  <CohortStructure />
  <Syllabus
    syllabus={[
      {
        week: "Week 00",
        name: "Orientation and Introductions",
        chNo: "",
      },
      {
        week: "Week 01",
        name: "Welcome To Bitcoin Protocol Development",
        chNo: "01",
      },
      {
        week: "Week 02",
        name: "SegWit",
        chNo: "02",
      },
      {
        week: "Week 03",
        name: "Mining And Network Propagation",
        chNo: "03",
      },
      {
        week: "Week 04",
        name: "P2P",
        chNo: "04",
      },
      {
        week: "Week 05",
        name: "SCRIPT And Wallets",
        chNo: "05",
      },
      {
        week: "Week 06",
        name: "Next Steps: How to progress up in your Bitcoin career as a developer, contributor, educator, PM, etc.",
        chNo: "",
      },
    ]}
  />
  <MeetYourTAs />
  <div id="applicationForm">
    <Application
      client:only
      cohortName={cohortName}
      role={role}
      regOpen={false}
    />
  </div>
  <CohortGraduates />
</Layout>
