---
import Layout from "../../layouts/Layout.astro";
import Carousel from "../../components/common/Carousel";
import Description from "../../components/cohortPages/Description.astro";
import CohortStructure from "../../components/cohortPages/CohortStructure.astro";
import CohortDetails from "../../components/cohortPages/CohortDetails.astro";
import Syllabus from "../../components/cohortPages/Syllabus.astro";
import CohortHeader from "../../components/cohort/CohortHeader.astro";
import Application from "../../components/common/Application";
import { fade } from "astro:transitions";

const headerProps = {
  removeHeader: true,
};
const role = "bpd_cohort";
const cohortName = "Bitcoin Protocol Development";
const isVisible = true;
---

<Layout
  title="Bitcoin Protocol Dev"
  headerProps={headerProps}
  isVisible={isVisible}
>
  <CohortHeader img="/cohort/bpd.webp" />
  <Description
    takeaways={[
      {
        name: "Understanding Bitcoin Protocol:",
        desc: "Gain insights into the fundamentals of how the Bitcoin protocol is developed, covering its history, technologies, and ongoing challenges.",
      },
      {
        name: "Practical Knowledge:",
        desc: "Acquire practical skills through hands-on assignments and real-world projects related to Bitcoin protocol development.",
      },
      {
        name: "Certificate of Completion:",
        desc: "Receive a certificate recognizing your proof-of-work and accomplishment in Bitcoin protocol development.",
      },
      {
        name: "Community",
        desc: "Join a community of like-minded learners, actively participating in discussions and collaborative learning, fostering a supportive network.",
      },
    ]}
  >
    <div slot="text">
      <h1 class="my-2 font-header text-2xl lg:text-5xl">
        Bitcoin Protocol Development Study Cohort
      </h1>
      <p class="lg:text-xl">
        Designed by Chaincode, the <a
          class="font-bold text-orange underline"
          href="https://chaincode.gitbook.io/seminars/bitcoin-protocol-development"
          target="_blank">Bitcoin Protocol Development</a
        > cohort is an enlightening course that introduces
        developers to the basics of how the Bitcoin protocol
        is developed. The scope covers topics such as the
        history and evolution of the Bitcoin protocol, the
        underlying technologies enabling its operation, and
        the various challenges and opportunities associated
        with its ongoing development and adoption.
      </p>
    </div>
  </Description>
  <CohortDetails
    format={[
      {
        name: "Format",
        desc: "Online virtual classroom",
      },
      {
        name: "Structure",
        desc: "Weekly live sessions, group discussions, and Q&A",
      },
      {
        name: "Categories",
        desc: "Bitcoin Basics, Advanced Concepts, Community Engagement",
      },
      {
        name: "Duration",
        desc: "06 weeks",
      },
    ]}
  >
    <div class="flex text-2xl" slot="date">
      <p class="mb-6 mr-2 font-header">
        Next Cohort Starting On:
      </p>26th April, 2024.
    </div>
    <ol slot="prerequisites" class="list-disc p-4 lg:px-8">
      <li>
        Basic knowledge of Bitcoin protocol (suggested-read
        <a
          class="text-orange underline"
          href="https://github.com/bitcoinbook/bitcoinbook"
          target="_blank"
        >
          Mastering Bitcoin</a
        >)
      </li>
    </ol>
    <div slot="details">
      <p class="mb-6 font-header lg:text-xl">
        Cohort level: <span class="text-orange"
          >Intermediate</span
        >
      </p>
      <p class="mb-6 font-header lg:text-xl">
        This cohort assumes a basic level of Bitcoin
        protocol knowledge. Participants are expected to
        have pre-read Mastering Bitcoin as a prerequisite.
        The program spans several weeks, covering topics
        such as SegWit, mining, network block propagation,
        P2P, scripts, wallets, and more.
      </p>
    </div>
  </CohortDetails>
  <Syllabus
    syllabus={[
      {
        week: "Week 01",
        name: "Welcome to the Bitcoin Protocol Development Seminar",
        chNo: "00",
      },
      {
        week: "Week 02",
        name: "SEGWIT",
        chNo: "01",
      },
      {
        week: "Week 03",
        name: "Mining and Network Block Propagation",
        chNo: "02",
        bg: "bg-white",
      },
      {
        week: "Week 04",
        name: "P2P",
        chNo: "03",
      },
      {
        week: "Week 05",
        name: "Scripts and Wallets",
        chNo: "04",
      },
      {
        week: "Week 06",
        name: "Next Steps",
        chNo: "",
      },
    ]}
  />
  <div id="applicationForm">
    <CohortStructure />
    <Application
      client:only
      cohortName={cohortName}
      role={role}
      regOpen={false}
    />
  </div>
  <Carousel client:visible />
</Layout>
