---
import Layout from "../../layouts/Layout.astro";
import Carousel from "../../components/common/Carousel";
import CohortStructure from "../../components/cohortPages/CohortStructure.astro";
import CohortDetails from "../../components/cohortPages/common/CohortDetails.astro";
import Syllabus from "../../components/cohortPages/Syllabus.astro";
import CohortHeader from "../../components/cohort/CohortHeader.astro";
import Application from "../../components/common/Application";
import About from "../../components/cohortPages/lbtcl/About.astro";
import MeetYourTAs from "../../components/cohortPages/common/MeetYourTAs.astro";
import CohortGraduates from "../../components/cohortPages/CohortGraduates.astro";
const headerProps = {
  removeHeader: true,
};
const role = "lbtcl_cohort";
const cohortName = "Learning Bitcoin Through Command Line";
const isVisible = true;
---

<Layout
  title="LBTCL Cohort"
  headerProps={headerProps}
  isVisible={isVisible}
>
  <CohortHeader img="/cohort/lbtcl.webp" />

  <About />
  <CohortDetails
    format={[
      {
        name: "Commencement date",
        desc: "8th December, 2025",
      },
      {
        name: "Duration",
        desc: "08 weeks",
      },
      {
        name: "Cohort level",
        desc: "Intermediate (Basic Hands-On)",
      },
      {
        name: "Mode",
        desc: "Self-study, weekly live sessions, group discussions, and QnA",
      },
      {
        name: "Format",
        desc: "Online virtual classroom",
      },
    ]}
  />
  <CohortStructure />
  <Syllabus
    syllabus={[
      {
        week: "Week 01",
        name: "Introduction (1) ; Setting Up Bitcoin Core VPS (2) ; Understanding Your Bitcoin Setup (3)",
        chNo: "01-03",
      },
      {
        week: "Week 02",
        name: "Sending Bitcoin TXNs (4) ; Controlling Bitcoin TXNs (5)",
        chNo: "04-05",
      },
      {
        week: "Week 03",
        name: "Expanding Bitcoin TXNs - Multisigs (6) ; Expanding Bitcoin TXNs - PSBTs (7)",
        chNo: "06-07",
      },
      {
        week: "Week 04",
        name: "Expanding Bitcoin TXNs - Other (8) ; Introducing Bitcoin Scripts (9) ",
        chNo: "08-09",
      },
      {
        week: "Week 05",
        name: "Embedding Bitcoin Scripts in p2SH TXNs (10) ; Empowering Timelock with Bitcoin Scripts (11)",
        chNo: "10-11",
      },
      {
        week: "Week 06",
        name: "Expanding Bitcoin Scripts (12) ; Designing Bitcoin Scripts (13)",
        chNo: "12-13",
      },
      {
        week: "Week 07",
        name: "Next Steps",
        chNo: "",
      },
    ]}
  >
    <p
      slot="additionalText"
      class="mt-5 font-medium lg:text-xl"
    >
      The <span class="font-bold"
        >cohort covers chapters 01 to 13</span
      >  of "Learning Bitcoin From Command Line”. After the cohort,
      participants are encouraged to <span
        class="font-bold"
      >
        independently explore chapters 14 to 20</span
      >, which delve into the advanced functionalities of
      Bitcoin Core. This will allow them to further explore
      more advanced topics.
    </p>
  </Syllabus>

  <MeetYourTAs />
  <div id="applicationForm">
    <Application
      client:only
      cohortName={cohortName}
      role={role}
      regOpen={false}
    />
  </div>
  <CohortGraduates />
</Layout>
