---
import Layout from "../../layouts/Layout.astro";
import Carousel from "../../components/common/Carousel";
import CohortStructure from "../../components/cohortPages/CohortStructure.astro";
import CohortDetails from "../../components/cohortPages/common/CohortDetails.astro";
import Syllabus from "../../components/cohortPages/Syllabus.astro";
import CohortHeader from "../../components/cohort/CohortHeader.astro";
import Application from "../../components/common/Application";
import About from "../../components/cohortPages/mb/About.astro";
import MeetYourTAs from "../../components/cohortPages/common/MeetYourTAs.astro";
import CohortGraduates from "../../components/cohortPages/CohortGraduates.astro";
const headerProps = {
  removeHeader: true,
};
const role = "mb_cohort";
const cohortName = "Mastering Bitcoin";
const isVisible = true;
---

<Layout
  title="Mastering Bitcoin"
  headerProps={headerProps}
  isVisible={isVisible}
>
  <CohortHeader img="/cohort/mb.webp" />

  <About />
  <CohortDetails
    format={[
      {
        name: "Commencement date",
        desc: "23rd January 2025",
      },
      {
        name: "Registration deadline",
        desc: "22nd January 2025",
      },
      {
        name: "Duration",
        desc: "08 weeks",
      },
      {
        name: "Cohort level",
        desc: "Beginner (Basic Theory)",
      },
      {
        name: "Mode",
        desc: "Online virtual classroom",
      },
      {
        name: "Format",
        desc: "Self-study, weekly live sessions, group discussions, and QnA",
      },
    ]}
  />
  <CohortStructure />
  <Syllabus
    syllabus={[
      {
        week: "Week 01",
        name: "Introduction (1) ; How Bitcoin Works (2)",
        chNo: "01-02",
        desc: "Tell me more",
      },
      {
        week: "Week 02",
        name: "Bitcoin Core (3) ; Keys and Addresses (4)",
        chNo: "03-04",
      },
      {
        week: "Week 03",
        name: "Wallet Recovery (5) ; Transactions (6)",
        chNo: "05-06",
      },
      {
        week: "Week 04",
        name: "Authorization & Authentication (7) ; Digital Signatures (8) ",
        chNo: "07-08",
      },
      {
        week: "Week 05",
        name: "Transaction Fees (9) ; The Bitcoin Network (10)",
        chNo: "09-10",
      },
      {
        week: "Week 06",
        name: "The Blockchain (11) ; Mining and Consensus (12)",
        chNo: "11-12",
      },
      {
        week: "Week 07",
        name: "Bitcoin Security (13) ; Second-Layer Applications (14)",
        chNo: "13-14",
      },
      {
        week: "Week 08",
        name: "Next Steps",
        chNo: "",
      },
    ]}
  />
  <MeetYourTAs />
  <div id="applicationForm">
    <Application
      client:only
      cohortName={cohortName}
      role={role}
      regOpen={true}
    />
  </div>
  <CohortGraduates />
</Layout>
