---
export interface Props {
  team: Array<any>;
  color: string;
}
const { team, color } = Astro.props;
---

<div
  class={`flex flex-col rounded-2xl ${color} p-2 lg:gap-10 lg:p-5`}
>
  <h1
    class="my-3 text-center font-header text-4xl font-bold lg:text-5xl"
  >
    Meet Your TAs
  </h1>

  {
    team.map((member) => (
      <div
        class={`my-3 flex rounded-lg ${member.bgColor} `}
      >
        <img
          src={`/people/${member.image}.png`}
          class="mt-2 h-28 items-center p-3 align-middle "
          alt={member.name}
        />
        <div class="flex flex-col">
          <div class="flex">
            <p
              class={` mt-3 w-4/6 font-header text-xl font-bold ${member.headingColor} lg:text-3xl xl:w-5/6`}
            >
              {member.name}
            </p>
            <a href={member.github} target="_blank">
              <img
                src="/people/github.png"
                class="mr-3 mt-3 h-8 rounded-xl bg-white "
                alt="Github"
              />
            </a>
            <a href={member.twitter} target="_blank">
              <img
                src="/people/twitter.png"
                class="mr-3 mt-3 h-8 rounded-xl bg-white "
                alt="Twitter"
              />
            </a>
          </div>

          <p
            class={`lg:p3 mr-16 px-1 pb-3 text-sm ${member.textColor} lg:text-lg `}
          >
            {member.desc}
          </p>
        </div>
      </div>
    ))
  }
</div>
