---
import { team, advisors } from "../common/list.js";
---

<div
  class="my-24 mb-24 text-center font-header text-3xl font-bold md:text-6xl lg:text-8xl"
  id="our_people"
>
  Our Team
</div>

<div
  class="mt-2 grid grid-cols-1 gap-2 lg:grid-cols-2 lg:gap-x-12 lg:gap-y-6"
>
  {
    team.map((member) => (
      <div
        class={`flex w-full items-center rounded-3xl ${member.bgColor} ${member.textColor}}`}
      >
        <img
          src={`/people/${member.image}.png`}
          class="h-28 items-center rounded-3xl p-2 pl-2 lg:h-40 lg:p-5"
        />
        <div class="flex w-full flex-col">
          <div class="flex w-full justify-between px-1 py-3">
            <p
              class={`font-header text-xl font-extrabold ${member.headingColor} lg:text-4xl`}
            >
              {member.name}
            </p>
            <div class="flex">
              {member.github && (
                <a
                  href={member.github}
                  target="_blank"
                  class="group"
                >
                  <img
                    src="/people/github.png"
                    class="m-1 h-6 rounded-lg bg-white group-hover:bg-white lg:h-7"
                  />
                </a>
              )}
              {member.twitter && (
                <a
                  href={member.twitter}
                  target="_blank"
                  class="group"
                >
                  <img
                    src="/people/twitter.png"
                    class="m-1 mr-3 h-6 scale-125 rounded-lg lg:h-7"
                  />
                </a>
              )}
            </div>
          </div>
          <p
            class={`lg:p3 px-1 ${member.textColor} min-h-[90px] pb-3 pr-3 text-sm lg:pr-8 lg:text-xl`}
          >
            {member.desc}
          </p>
        </div>
      </div>
    ))
  }
</div>

<div
  class="my-24 text-center font-header text-2xl lg:text-5xl"
>
  Our Advisors
</div>
<div
  class="mb-5 grid grid-cols-1 gap-2 lg:mb-24 lg:grid-cols-2 lg:gap-x-12 lg:gap-y-6"
>
  {
    advisors.map((member) => (
      <div
        class={`flex w-full items-center rounded-3xl lg:pr-5  ${member.bgColor} ${member.textColor}}`}
      >
        <img
          src={`/people/${member.image}.png`}
          class="h-28 items-center rounded-3xl p-2 pl-2 lg:h-40 lg:p-5"
        />
        <div class="flex w-full flex-col">
          <div class="flex w-full justify-between px-1 py-3">
            <p
              class={`font-header text-xl font-extrabold ${member.headingColor} lg:text-4xl`}
            >
              {member.name}
            </p>
            <div class="flex">
              <a
                class="group"
                href={member.twitter}
                target="_blank"
              >
                <img
                  src="/people/twitter.png"
                  class="m-1 mr-3 h-6 scale-125 rounded-lg group-hover:bg-white lg:h-7 "
                />
              </a>
            </div>
          </div>
          <p
            class={`lg:p3 px-1 ${member.textColor} min-h-[90px] pr-3 text-sm lg:pr-8 lg:text-xl`}
          >
            {member.desc}
          </p>
        </div>
      </div>
    ))
  }
</div>
