---
import { ta, dev, advisors } from "../common/list.js";
---

<!-- <div
  class="my-8 text-center text-3xl font-bold md:text-6xl lg:text-9xl"
  id="our_people"
>
  Our People
</div> -->
<div
  class="my-5 text-center font-header text-2xl lg:mb-10 lg:text-8xl"
>
  Our Team
</div>
<div
  class="mt-2 grid grid-cols-1 gap-2 lg:grid-cols-2 lg:gap-x-12 lg:gap-y-6"
>
  {
    ta.map((member) => (
      <div
        class={`flex w-full items-center rounded-xl ${member.bgColor} ${member.textColor}}`}
      >
        <img
          src={`/people/${member.image}.png`}
          class="h-28 items-center p-3 lg:h-40"
        />
        <div class="flex w-full flex-col">
          <div class="flex w-full justify-between px-1 py-3">
            <p
              class={`font-header text-xl font-bold ${member.headingColor} lg:text-5xl`}
            >
              {member.name}
            </p>
            <div class="flex">
              <a
                href={member.github}
                target="_blank"
                class="group"
              >
                <img
                  src="/people/github.png"
                  class="m-1 h-6 rounded bg-peach group-hover:bg-white lg:h-10"
                />
              </a>
              <a
                href={member.twitter}
                target="_blank"
                class="group"
              >
                <img
                  src="/people/twitter.png"
                  class="m-1 h-6 rounded bg-peach group-hover:bg-white lg:h-10"
                />
              </a>
            </div>
          </div>
          <p
            class={`lg:p3 px-1 ${member.textColor} min-h-[90px] text-sm lg:text-xl`}
          >
            {member.desc}
          </p>
        </div>
      </div>
    ))
  }
  {
    dev.map((member) => (
      <div
        class={`flex w-full items-center rounded-xl ${member.bgColor} ${member.textColor}}`}
      >
        <img
          src={`/people/${member.image}.png`}
          class="h-28 items-center p-3 lg:h-40"
        />
        <div class="flex w-full flex-col">
          <div class="flex w-full justify-between px-1 py-3">
            <p
              class={`font-header text-xl font-extrabold ${member.headingColor} lg:text-5xl`}
            >
              {member.name}
            </p>
            <div class="flex">
              <a
                href={member.github}
                target="_blank"
                class="group"
              >
                <img
                  src="/people/github.png"
                  class="m-1 h-6 rounded bg-peach group-hover:bg-white lg:h-10"
                />
              </a>
              <a
                href={member.twitter}
                target="_blank"
                class="group"
              >
                <img
                  src="/people/twitter.png"
                  class="m-1 h-6 rounded bg-peach group-hover:bg-white lg:h-10"
                />
              </a>
            </div>
          </div>
          <p
            class={`lg:p3 px-1 ${member.textColor} min-h-[90px] text-sm lg:text-xl`}
          >
            {member.desc}
          </p>
        </div>
      </div>
    ))
  }
</div>

<div
  class="my-5 text-center font-header text-2xl lg:text-6xl"
>
  Our Advisors
</div>
<div
  class="mt-2 grid grid-cols-1 gap-2 lg:grid-cols-2 lg:gap-x-12 lg:gap-y-6"
>
  {
    advisors.map((member) => (
      <div
        class={`flex w-full items-center rounded-xl ${member.bgColor} ${member.textColor}}`}
      >
        <img
          src={`/people/${member.image}.png`}
          class="h-28 items-center p-3 lg:h-40"
        />
        <div class="flex w-full flex-col">
          <div class="flex w-full justify-between px-1 py-3">
            <p
              class={`font-header text-xl font-extrabold ${member.headingColor} lg:text-5xl`}
            >
              {member.name}
            </p>
            <div class="flex">
              <a
                class="group"
                href={member.twitter}
                target="_blank"
              >
                <img
                  src="/people/twitter.png"
                  class="m-1 h-8 rounded bg-peach group-hover:bg-white lg:h-10 "
                />
              </a>
            </div>
          </div>
          <p
            class={`lg:p3 px-1 py-1 ${member.textColor} min-h-[90px] text-sm lg:text-xl`}
          >
            {member.desc}
          </p>
        </div>
      </div>
    ))
  }
</div>
