---
const cardsList = [
  {
    name: "Learning Bitcoin From Command Line",
    img: "/website-v2/cohort/lbtcl.png",
    no: "02",
    desc: "Donec laoreet congue justo at rhoncus. Nam aliquet suscipit feugiat...",
    url: "/website-v2/lbtcl",
  },
  {
    name: "Mastering Bitcoin by Andreas M. ",
    img: "/website-v2/cohort/masteringBitcoin.png",
    no: "01",
    desc: "Donec laoreet congue justo at rhoncus. Nam aliquet suscipit feugiat...",
  },
  {
    name: "Learning Bitcoin From Command Line",
    img: "/website-v2/cohort/lbtcl.png",
    no: "02",
    desc: "Donec laoreet congue justo at rhoncus. Nam aliquet suscipit feugiat...",
  },
  {
    name: "Mastering Bitcoin by Andreas M. ",
    img: "/website-v2/cohort/masteringBitcoin.png",
    no: "01",
    desc: "Donec laoreet congue justo at rhoncus. Nam aliquet suscipit feugiat...",
  },
];
---

<div
  class="grid grid-cols-1 gap-10 pl-6 pr-14 md:-translate-y-24 md:grid-cols-2 xl:grid-cols-4"
>
  {
    cardsList.map((card) => (
      <div>
        <div
          class={`rounded-2xl  ${
            Number(card.no) % 2 == 0
              ? "bg-orange"
              : "bg-black"
          } my-2  p-3 text-white`}
        >
          <img src={card.img} class="w-fit" />
          <div class="my-2 px-3">
            <p class="text-sm lg:text-xl">
              cohort #{card.no}
            </p>
            <h1 class="text-2xl font-semibold lg:text-4xl">
              {card.name}
            </h1>
            <p class="text-base lg:text-xl">{card.desc}</p>
          </div>
          <a href={card.url}>
            <button
              class={`my-2 w-full rounded-lg text-base lg:text-xl ${
                Number(card.no) % 2 == 0
                  ? "bg-white"
                  : "bg-black"
              } px-3 py-5 font-semibold ${
                Number(card.no) % 2 == 0
                  ? "text-black"
                  : "text-white"
              } border-2 border-dotted border-white `}
            >
              Visit the Cohort Page
            </button>
          </a>
        </div>
      </div>
    ))
  }
</div>
