---
import Hamburger from "./hamburger";
export interface Props {
  heading: string;
  subheading: string;
  image: string;
  headingColor: string;
  subheadingColor: string;
}

const {
  heading,
  subheading,
  image,
  headingColor,
  subheadingColor,
} = Astro.props;
---

<main
  style={{
    backgroundImage: `url(${image})`,
    backgroundSize: "cover",
    backgroundRepeat: "no-repeat",
    backgroundPosition: "center",
  }}
  class="m-auto flex min-h-[90vh] flex-col items-center justify-between gap-12 rounded-lg bg-black px-5 py-[10%] pt-4"
>
  <div class="mb-10 flex w-full justify-between">
    <a href="/website-v2">
      <img src="/website-v2/footer/logo.png" class="h-16" />
    </a>
    <Hamburger client:only />
  </div>

  <h1
    class={`text-center font-header ${headingColor} text-3xl  lg:text-8xl`}
  >
    {heading}
  </h1>
  <slot name="heading" />
  <p
    class={`w-2/3 text-center text-xl ${subheadingColor} lg:text-4xl xl:mb-10`}
  >
    {subheading}
  </p>
  <slot name="subheading" />
  <div>
    <slot name="after-heading" />
  </div>
</main>
