---
const cardsList = [
  {
    name: "Mastering Bitcoin by Andreas M. ",
    img: "/cohort/mb.webp",
    desc: "Mastering Bitcoin, a foundational tutorial, provides in-depth insights into Bitcoin and its applications, equipping participants with a robust understanding.",
    url: "/cohorts/mb",
    status: "Registration Open",
  },
  {
    name: "Learning Bitcoin From Command Line",
    img: "/cohort/lbtcl.webp",
    desc: "Learning Bitcoin via CLI is a comprehensive tutorial series that teaches you how to use Bitcoin Core through the command line.",
    url: "/cohorts/lbtcl",
    status: "Starting in October",
  },
  {
    name: "Bitcoin Protocol Development",
    img: "/cohort/bpd.webp",
    desc: "BPD delves into the core protocols, offering a deeper theoretical understanding of Bitcoin's technical intricacies, enabling you to contribute to protocol development.",
    url: "/cohorts/bpd",
    status: "Starting in December",
  },
  {
    name: "Programming Bitcoin by Jimmy Song",
    img: "/cohort/pb.webp",
    desc: "Programming Bitcoin, a comprehensive tutorial on Bitcoin Core, unlocks the intricacies of Bitcoin development.",
    url: "/cohorts/pb",
    status: "Starting in February",
  },
  {
    name: "LN Cohort",
    img: "/cohort/ln.webp",
    desc: "Programming Bitcoin, a comprehensive tutorial on Bitcoin Core, unlocks the intricacies of Bitcoin development.",
    url: "/cohorts/ln",
    status: "Starting in January",
  },
];
---

<div class="h-min md:-translate-y-40">
  <div
    class="mb-10 grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-3"
  >
    {
      cardsList.slice(0, 3).map((card, index) => (
        <div
          class={`flex flex-col justify-between rounded-2xl ${
            index % 2 == 0 ? "bg-orange" : "bg-black"
          } my-2 p-3 text-white`}
        >
          <div style={{ position: "relative" }}>
            <img
              src={card.img}
              class="w-fit rounded-lg bg-white"
            />
            <p
              class={`absolute right-2 top-2 rounded-lg ${
                card.status === "Registration Open"
                  ? "bg-[#008000]"
                  : "bg-[#cc0808]"
              } px-3 py-1 text-sm font-bold text-white`}
            >
              {card.status}
            </p>
          </div>
          <p class="text-sm lg:text-xl">
            cohort #0{index + 1}
          </p>
          <div class="px-1">
            <h1 class="text-2xl font-bold lg:text-4xl">
              {card.name}
            </h1>
            <p class="text-base lg:text-xl">{card.desc}</p>
          </div>
          <a href={card.url}>
            <button
              class={`my-2 w-full rounded-lg text-base lg:text-xl ${
                index % 2 == 0
                  ? "bg-white text-black hover:bg-black hover:text-peach"
                  : "bg-black text-white hover:bg-orange hover:text-white"
              } border-2 border-dotted border-white px-3 py-5 font-bold`}
            >
              Visit the Cohort Page
            </button>
          </a>
        </div>
      ))
    }
  </div>

  <div
    class="grid grid-cols-1 gap-10 md:mx-auto md:max-w-4xl md:grid-cols-2"
  >
    {
      cardsList.slice(3, 5).map((card, index) => (
        <div
          class={`flex flex-col justify-between rounded-2xl ${
            (index + 3) % 2 == 0 ? "bg-orange" : "bg-black"
          } my-2 p-3 text-white`}
        >
          <div style={{ position: "relative" }}>
            <img
              src={card.img}
              class="w-fit rounded-lg bg-white"
            />
            <p
              class={`absolute right-2 top-2 rounded-lg ${
                card.status === "Registration Open"
                  ? "bg-[#008000]"
                  : "bg-[#cc0808]"
              } px-3 py-1 text-sm font-bold text-white`}
            >
              {card.status}
            </p>
          </div>
          <p class="text-sm lg:text-xl">
            cohort #0{index + 4}
          </p>
          <div class="px-1">
            <h1 class="text-2xl font-bold lg:text-4xl">
              {card.name}
            </h1>
            <p class="text-base lg:text-xl">{card.desc}</p>
          </div>
          <a href={card.url}>
            <button
              class={`my-2 w-full rounded-lg text-base lg:text-xl ${
                (index + 3) % 2 == 0
                  ? "bg-white text-black hover:bg-black hover:text-peach"
                  : "bg-black text-white hover:bg-orange hover:text-white"
              } border-2 border-dotted border-white px-3 py-5 font-bold`}
            >
              Visit the Cohort Page
            </button>
          </a>
        </div>
      ))
    }
  </div>
</div>
