---
export interface Props {
  heading: string;
  subheading: string;
  image: string;
  headingColor: string;
  subheadingColor: string;
  isContain: boolean;
}

const {
  heading,
  subheading,
  image,
  headingColor,
  subheadingColor,
  isContain,
} = Astro.props;
---

<!--  style={{
    backgroundImage: `url(${image})`,
    backgroundSize: "cover",
    backgroundRepeat: "no-repeat",
    backgroundPosition: "center",
  }} -->
<main
  style={{
    backgroundImage: `url(${image})`,
  }}
  class={`bg-no-repeat ${
    isContain
      ? "bg-contain min-h-[35vh] md:min-h-[45vh] lg:min-h-[90vh] md:mt-5 rounded-lg lg:bg-contain"
      : "bg-cover min-h-[90vh] bg-black  px-5 pb-12 pt-32"
  } bg-center m-auto flex  flex-col items-center justify-between   md:rounded-lg lg:bg-cover`}
>
  {
    heading && subheading ? (
      <>
        <h1
          class={`text-center font-header ${headingColor} text-3xl lg:text-8xl`}
        >
          {heading}
        </h1>
        <p
          class={`w-2/3 text-center text-xl ${subheadingColor} lg:text-4xl xl:mb-10`}
        >
          {subheading}
        </p>
        <div />
      </>
    ) : (
      <slot />
    )
  }
</main>
