---
export interface Props {
  heading: string;
  subheading: string;
  image: string;
  headingColor: string;
  subheadingColor: string;
}

const {
  heading,
  subheading,
  image,
  headingColor,
  subheadingColor,
} = Astro.props;
---

<main
  style={{
    backgroundImage: `url(${image})`,
    backgroundSize: "cover",
    backgroundRepeat: "no-repeat",
    backgroundPosition: "center",
  }}
  class="m-auto flex min-h-[90vh] flex-col items-center justify-between bg-black px-5 pb-12 pt-32 md:rounded-lg"
>
  {
    heading && subheading ? (
      <>
        <h1
          class={`text-center font-header ${headingColor} text-3xl lg:text-8xl`}
        >
          {heading}
        </h1>
        <p
          class={`w-2/3 text-center text-xl ${subheadingColor} lg:text-4xl xl:mb-10`}
        >
          {subheading}
        </p>
        <div />
      </>
    ) : (
      <slot />
    )
  }
</main>
